<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITSpotlight {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: darkgrey;">
        <a href="/index" class="logoimage">
            <img src="../static/assets/favicon.ico">
        </a>
    <div class="container spotlight">
        <div class="header">
            <div class="left">{% block header %}{% endblock %}</div>
            <div class="right">
                <div class="dropdown action">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/topstories">Trending News</a></li>
                        <li><a class="dropdown-item" href="/jobstories">Hiring News</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% if context.type %}
    <nav aria-label="page navigation">
        <ul class="pagination justify-content-center">
            {% for page in range(1, 6) %}
            <li class="page-item"><a class="page-link" href="/{{ context.type }}/{{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>