<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITSpotlight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: darkgrey;">
    <div class="container spotlight">
        <h1>IT<span>Spotlight</span></h1>
        <div class="header">
            <div class="left">{{ context.title }}</div>
            <div class="right">
                <div class="dropdown action">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/topstories">Trending News</a></li>
                        <li><a class="dropdown-item" href="/jobstories">Hiring News</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="data">
            {% for article in context.news %}
            <li>
                <div class="number"><span>{{ loop.index }}</span></div>
                <div class="discription">
                    <div class="title">{{ article.title }}</div>
                    <div class="meta-data">
                        <a href="{{ article.url }}" target="_blank">
                            <div class="left">{{ article.sliced_url }}</div>
                        </a>
                        <div class="right">{{ article.time }} - by
                            <a href="/api/user/{{ article.by }}" target="_blank"> {{ article.by }}
                            </a>
                        </div>
                    </div>
                    <div class="actions-row">
                        <span><i class="fa-solid fa-arrow-up"></i></i>{{ article.likes }}</span>
                        <span><i class="fa-solid fa-message"></i>{{ article.comments }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>