{% extends 'base.html' %}
{% block title %} | {{ context.title }} {% endblock %}
{% block header %} {{ context.title }} {% endblock %}
{% block content %}
<div class="data">
    {% for article in context.news %}
    <li>
        <div class="number"><span>{{ loop.index }}</span></div>
        <div class="discription">
            <div class="title">{{ article.title }}</div>
            <div class="meta-data">
                <div class="left">{{ article.sliced_url }}</div>
                <div class="right">{{ article.time }} - by
                    <a class="no-link" href="/user/{{ article.by }}" target="_blank"> {{ article.by }}
                    </a>
                </div>
            </div>
            <div class="actions-row">
                <span><i class="fa-solid fa-arrow-up"></i></i>{{ article.likes }}</span>
                <a class="no-link" href="{{ article.url }}" target="_blank"><span><i
                            class="fa-solid fa-book-reader"></i>Read full article</span></a>
            </div>
        </div>
    </li>
    {% endfor %}
</div>
{% endblock %}